REPLICATE_API_KEY=r8_4VNdkbY6n9d9kuAiuyAa8gziouf98QC0ZOdBx

#console.log('Replicate API Key:', process.env.REPLICATE_API_KEY);
#
#const replicate = new Replicate(process.env.REPLICATE_API_KEY);

## Optional, if you're doing rate limiting
#UPSTASH_REDIS_REST_URL=
#UPSTASH_REDIS_REST_TOKEN=
