REPLICATE_API_KEY=r8_2vsTHdL2qcq6r7jJLiCbNnZTTROSwNA0iEK1H

#console.log('Replicate API Key:', process.env.REPLICATE_API_KEY);
#
#const replicate = new Replicate(process.env.REPLICATE_API_KEY);

## Optional, if you're doing rate limiting
#UPSTASH_REDIS_REST_URL=
#UPSTASH_REDIS_REST_TOKEN=
